body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
               'avenir next', avenir, /* MacOS and iOS */
               'Segoe UI', /* Windows */
               'lucida grande', /* Older MacOS */
               'helvetica neue', helvetica, /* Older MacOS */
               'Fira Sans', /* Firefox OS */
               roboto, noto, /* Google stuff */
               'Droid Sans', /* Old Google stuff */
               cantarell, oxygen, ubuntu, /* Linux stuff */
               'franklin gothic medium', 'century gothic', /* Windows stuff */
               'Liberation Sans', /* Linux */
               sans-serif; /* Everything else */;
  color: #444;
}

@media screen and (max-width: 480px) {
  body {
    min-width: 320px;
    max-width: 480px;
  }
  img {
    min-width: 320px;
    max-width: 320px;
  }
}

/* Dark mode */

/* .dark-mode {
  background-color:#525252;
  color: white;
}
   */

h1,
h2,
h3 {
  line-height:1.2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
	width: 40%;
}

.inner {
  position: relative;
  max-width: 800px;
  padding: 20px 10px;
  margin: 0 auto;
}

.navigation {
  margin-left: -3.5%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

/* Change the link color on hover */
.navigation li a:hover {
  color: rgb(0, 0, 0);
}

.navigation div {
  color: rgb(0, 0, 0);
  padding: 8px 16px;
}

.navigation li a {
  display: block;
  color: rgb(116, 116, 116);
  padding: 8px 8px;
  text-decoration: none;
}

.subnavigation {
  display: none;
  position: absolute;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  z-index: 1;
}

.navigation li:hover .subnavigation {
  display: block;
}

a {
  position: relative;
  text-decoration: none;
  color:#767676
} 

/* Nice link animatinons by Gabriel Cojea*/

a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color:#525252;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* .dark-mode .underline::before{
  background-color: #cdcdcd;
} */

@media (hover: hover) and (pointer: fine) {
  a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* Smooth scroll */
html{
  scroll-behavior: smooth;
}

/* Back to top scroll */

#myBtn {
  display: block; /* Showing by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent;
  color: rgb(111, 111, 111); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 20px; /* Increase font size */
}

#myBtn:hover {
  color: rgb(0, 0, 0); /* Text color on hover */
}